@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  min-height: 100%;
}

body {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px;
  font-weight: 500;
  line-height: 1.1;
  font-family: Ubuntu, serif;
}

h1 {
  font-size: 49px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12.6px;
}

p {
  font-size: 16px;
  margin: 0 0 10px 0;
}

a {
  color: #0062c3;
  text-decoration: none;
}
a:hover, a:active {
  color: #006ec2;
  text-decoration: underline;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  *zoom: 1;
}
.row:after, .row:before {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

[class*='column-'] {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.column-1 {
  width: 100%;
}

.column-2 {
  width: 100%;
}

.column-3 {
  width: 100%;
}

.column-4 {
  width: 100%;
}

.column-5 {
  width: 100%;
}

.column-6 {
  width: 100%;
}

.column-7 {
  width: 100%;
}

.column-8 {
  width: 100%;
}

.column-9 {
  width: 100%;
}

.column-10 {
  width: 100%;
}

.column-11 {
  width: 100%;
}

.column-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .column-1 {
    width: 8.33333%;
  }

  .column-2 {
    width: 16.66667%;
  }

  .column-3 {
    width: 25%;
  }

  .column-4 {
    width: 33.33333%;
  }

  .column-5 {
    width: 41.66667%;
  }

  .column-6 {
    width: 50%;
  }

  .column-7 {
    width: 58.33333%;
  }

  .column-8 {
    width: 66.66667%;
  }

  .column-9 {
    width: 75%;
  }

  .column-10 {
    width: 83.33333%;
  }

  .column-11 {
    width: 91.66667%;
  }

  .column-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .column-1 {
    width: 8.33333%;
  }

  .column-2 {
    width: 16.66667%;
  }

  .column-3 {
    width: 25%;
  }

  .column-4 {
    width: 33.33333%;
  }

  .column-5 {
    width: 41.66667%;
  }

  .column-6 {
    width: 50%;
  }

  .column-7 {
    width: 58.33333%;
  }

  .column-8 {
    width: 66.66667%;
  }

  .column-9 {
    width: 75%;
  }

  .column-10 {
    width: 83.33333%;
  }

  .column-11 {
    width: 91.66667%;
  }

  .column-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .column-1 {
    width: 8.33333%;
  }

  .column-2 {
    width: 16.66667%;
  }

  .column-3 {
    width: 25%;
  }

  .column-4 {
    width: 33.33333%;
  }

  .column-5 {
    width: 41.66667%;
  }

  .column-6 {
    width: 50%;
  }

  .column-7 {
    width: 58.33333%;
  }

  .column-8 {
    width: 66.66667%;
  }

  .column-9 {
    width: 75%;
  }

  .column-10 {
    width: 83.33333%;
  }

  .column-11 {
    width: 91.66667%;
  }

  .column-12 {
    width: 100%;
  }
}
.center {
  text-align: center;
}

dt {
  font-style: normal;
  font-weight: 700;
  page-break-after: avoid;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 24px;
  padding-left: 20px;
  line-height: 1.5;
}

code a {
  font-family: monospace;
  color: brown;
}

/* ★★★ Happy Styling! ★★★ */
